In [52]:
import pandas as pd

In [53]:
tb_data = pd.read_csv(r'C:\Users\Maheen\Downloads\tb_2022-09-30.csv')

In [54]:
tbhiv_data = pd.read_csv(r'C:\Users\Maheen\Downloads\tbhiv_2022-09-27.csv')

In [55]:
TBreport_data =pd.read_csv(r'C:\Users\Maheen\Downloads\TBreport_SDG381382.csv')

In [56]:
tx_data = pd.read_csv(r'C:\Users\Maheen\Downloads\tx_2022-08-29.csv')

In [57]:
print(tb_data.columns)

Index(['iso3', 'year', 'country', 'iso2', 'iso.numeric', 'g.whoregion',
       'new.sp', 'new.sn', 'new.su', 'new.ep',
       ...
       'pop', 'newinc', 'c.new.tsr', 'c.ret.tsr', 'ch', 'conf', 'ep',
       'newrel.m', 'newrel.f', 'sex.ratio'],
      dtype='object', length=250)

In [58]:
print(tbhiv_data.columns)

Index(['iso3', 'year', 'g.whoregion', 'newinc', 'c.newinc', 'newrel.hivpos',
       'newrel.hivtest', 'newrel.art', 'hivtest.f', 'hivtest.p',
       'hivtest.pos.f', 'hivtest.pos.p', 'hiv.art.f', 'hiv.art.p',
       'newrel.tbhiv.flg', 'c.notified', 'tbhiv.surv.prev', 'tbhiv.surv.yr',
       'tbhiv.sentin.prev', 'tbhiv.sentin.yr', 'hivtest.coverage',
       'tbhiv.surv', 'tbhiv.surv.lo', 'tbhiv.surv.hi', 'tbhiv.sentin',
       'tbhiv.sentin.lo', 'tbhiv.sentin.hi', 'tbhiv.routine',
       'tbhiv.routine.ok', 'tbhiv.routine.sd', 'tbhiv.surv.sd',
       'tbhiv.sentin.sd', 'tbhiv', 'tbhiv.sd', 'itbhiv'],
      dtype='object')

In [59]:
print(TBreport_data.columns)

Index(['wbcode', 'year', 'Country Name', 'sdg381', 'SDG 3.8.2',
       'WB income group classification'],
      dtype='object')

In [60]:
print(tx_data.columns)

Index(['country', 'year', 'iso2', 'iso3', 'iso.numeric', 'g.whoregion',
       'rep.meth', 'new.sp.coh', 'new.sp.cur', 'new.sp.cmplt',
       ...
       'c.mdr.tsr', 'xdr.coh', 'xdr.cur', 'xdr.cmplt', 'xdr.succ', 'xdr.died',
       'xdr.fail', 'xdr.lost', 'c.xdr.neval', 'c.xdr.tsr'],
      dtype='object', length=105)

In [112]:
merged_data_index = pd.concat([tb_data, tx_data, tbhiv_data, TBreport_data], axis=1)

In [113]:
merged_data_index

,iso3,year,country,iso2,iso.numeric,g.whoregion,new.sp,new.sn,new.su,new.ep,...,tbhiv.sentin.sd,tbhiv,tbhiv.sd,itbhiv,wbcode,year,country,sdg381,SDG 3.8.2,WB income group classification
0,ABW,1980,Aruba,AW,533,AMR,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,AGO,2018,Angola,39.0,36.0,Lower-middle income
1,ABW,1981,Aruba,AW,533,AMR,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,BGD,2016,Bangladesh,46.0,24.0,Lower-middle income
2,ABW,1982,Aruba,AW,533,AMR,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,BRA,2017,Brazil,75.0,12.0,Upper-middle income
3,ABW,1983,Aruba,AW,533,AMR,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,CAF,2008,Central African Republic,24.0,7.0,Low income
4,ABW,1984,Aruba,AW,533,AMR,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,CHN,2016,China,79.0,24.0,Upper-middle income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8917,ZWE,2017,Zimbabwe,ZW,716,AFR,NaN,NaN,NaN,2657.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8918,ZWE,2018,Zimbabwe,ZW,716,AFR,NaN,NaN,NaN,2547.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8919,ZWE,2019,Zimbabwe,ZW,716,AFR,NaN,NaN,NaN,1957.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8920,ZWE,2020,Zimbabwe,ZW,716,AFR,NaN,NaN,NaN,1140.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8921,ZWE,2021,Zimbabwe,ZW,716,AFR,NaN,NaN,NaN,1134.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [120]:
column_counts = merged_data_index.columns.value_counts()

In [121]:
column_counts

year                              4
iso3                              3
country                           3
g.whoregion                       3
hivtest.pos.f                     2
                                 ..
newrel.f4554                      1
newrel.f3544                      1
newrel.f2534                      1
newrel.f1524                      1
WB income group classification    1
Length: 370, dtype: int64

In [125]:
# Step 2: Identify the duplicate columns (those that appear more than once)
duplicate_columns = column_counts[column_counts > 1].index

In [126]:
duplicate_columns

Index(['year', 'iso3', 'country', 'g.whoregion', 'hivtest.pos.f',
       'newrel.tbhiv.flg', 'newrel.hivtest', 'newrel.hivpos', 'hivtest.f',
       'hivtest.p', 'hivtest.pos.p', 'c.newinc', 'hiv.art.f', 'hiv.art.p',
       'newinc', 'c.new.tsr', 'c.ret.tsr', 'c.notified', 'newrel.art',
       'iso.numeric', 'iso2'],
      dtype='object')

In [127]:
# Step 3: Drop the duplicate columns (keep only the first occurrence)
merged_data_cleaned = merged_data_index.loc[:, ~merged_data_index.columns.duplicated()]

In [128]:
merged_data_cleaned

,iso3,year,country,iso2,iso.numeric,g.whoregion,new.sp,new.sn,new.su,new.ep,...,tbhiv.routine.sd,tbhiv.surv.sd,tbhiv.sentin.sd,tbhiv,tbhiv.sd,itbhiv,wbcode,sdg381,SDG 3.8.2,WB income group classification
0,ABW,1980,Aruba,AW,533,AMR,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,AGO,39.0,36.0,Lower-middle income
1,ABW,1981,Aruba,AW,533,AMR,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,BGD,46.0,24.0,Lower-middle income
2,ABW,1982,Aruba,AW,533,AMR,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,BRA,75.0,12.0,Upper-middle income
3,ABW,1983,Aruba,AW,533,AMR,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,CAF,24.0,7.0,Low income
4,ABW,1984,Aruba,AW,533,AMR,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,CHN,79.0,24.0,Upper-middle income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8917,ZWE,2017,Zimbabwe,ZW,716,AFR,NaN,NaN,NaN,2657.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8918,ZWE,2018,Zimbabwe,ZW,716,AFR,NaN,NaN,NaN,2547.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8919,ZWE,2019,Zimbabwe,ZW,716,AFR,NaN,NaN,NaN,1957.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8920,ZWE,2020,Zimbabwe,ZW,716,AFR,NaN,NaN,NaN,1140.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8921,ZWE,2021,Zimbabwe,ZW,716,AFR,NaN,NaN,NaN,1134.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [142]:
merged_data_cleaned.columns

Index(['iso3', 'year', 'country', 'iso2', 'iso.numeric', 'g.whoregion',
       'new.sp', 'new.sn', 'new.su', 'new.ep',
       ...
       'tbhiv.routine.sd', 'tbhiv.surv.sd', 'tbhiv.sentin.sd', 'tbhiv',
       'tbhiv.sd', 'itbhiv', 'wbcode', 'sdg381', 'SDG 3.8.2',
       'WB income group classification'],
      dtype='object', length=370)

In [143]:
required_columns = [
    'iso3', 'iso2', 'iso.numeric', 'year', 'country', 'g.whoregion',
    'newrel.m', 'newrel.f', 'newrel.hivpos', 'newinc', 'c.newinc', 
    'newrel.art', 'hivtest.pos.f', 'hivtest.pos.p', 'new.sp', 'new.sn', 
    'new.su', 'new.ep', 'new.bc', 'sdg381', 'WB income group classification'
]

In [144]:
# Extract the relevant columns from the merged data
visualization_data = merged_data_cleaned[required_columns]

In [145]:
visualization_data

,iso3,iso2,iso.numeric,year,country,g.whoregion,newrel.m,newrel.f,newrel.hivpos,newinc,...,newrel.art,hivtest.pos.f,hivtest.pos.p,new.sp,new.sn,new.su,new.ep,new.bc,sdg381,WB income group classification
0,ABW,AW,533,1980,Aruba,AMR,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0,Lower-middle income
1,ABW,AW,533,1981,Aruba,AMR,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0,Lower-middle income
2,ABW,AW,533,1982,Aruba,AMR,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0,Upper-middle income
3,ABW,AW,533,1983,Aruba,AMR,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,Low income
4,ABW,AW,533,1984,Aruba,AMR,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.0,Upper-middle income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8917,ZWE,ZW,716,2017,Zimbabwe,AFR,15684.0,10164.0,16602.0,175.227598,...,14300.0,NaN,NaN,NaN,NaN,NaN,2657.0,NaN,NaN,NaN
8918,ZWE,ZW,716,2018,Zimbabwe,AFR,15322.0,9882.0,15062.0,167.444140,...,13636.0,NaN,NaN,NaN,NaN,NaN,2547.0,NaN,NaN,NaN
8919,ZWE,ZW,716,2019,Zimbabwe,AFR,13330.0,7678.0,12280.0,136.818862,...,11204.0,NaN,NaN,NaN,NaN,NaN,1957.0,NaN,NaN,NaN
8920,ZWE,ZW,716,2020,Zimbabwe,AFR,10090.0,5638.0,8397.0,100.372273,...,7844.0,NaN,NaN,NaN,NaN,NaN,1140.0,NaN,NaN,NaN
8921,ZWE,ZW,716,2021,Zimbabwe,AFR,10594.0,5716.0,8056.0,NaN,...,7647.0,NaN,NaN,NaN,NaN,NaN,1134.0,NaN,NaN,NaN

In [162]:
merged_data_cleaned_no_nan = visualization_data.drop(range(1, 35))

In [163]:
merged_data_cleaned_no_nan

,iso3,iso2,iso.numeric,year,country,g.whoregion,newrel.m,newrel.f,newrel.hivpos,newinc,...,newrel.art,hivtest.pos.f,hivtest.pos.p,new.sp,new.sn,new.su,new.ep,new.bc,sdg381,WB income group classification
0,ABW,AW,533,1980,Aruba,AMR,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0,Lower-middle income
35,ABW,AW,533,2015,Aruba,AMR,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,ABW,AW,533,2016,Aruba,AMR,NaN,NaN,NaN,13.349353,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
37,ABW,AW,533,2017,Aruba,AMR,3.0,5.0,0.0,7.587325,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
38,ABW,AW,533,2018,Aruba,AMR,4.0,1.0,NaN,4.718673,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8917,ZWE,ZW,716,2017,Zimbabwe,AFR,15684.0,10164.0,16602.0,175.227598,...,14300.0,NaN,NaN,NaN,NaN,NaN,2657.0,NaN,NaN,NaN
8918,ZWE,ZW,716,2018,Zimbabwe,AFR,15322.0,9882.0,15062.0,167.444140,...,13636.0,NaN,NaN,NaN,NaN,NaN,2547.0,NaN,NaN,NaN
8919,ZWE,ZW,716,2019,Zimbabwe,AFR,13330.0,7678.0,12280.0,136.818862,...,11204.0,NaN,NaN,NaN,NaN,NaN,1957.0,NaN,NaN,NaN
8920,ZWE,ZW,716,2020,Zimbabwe,AFR,10090.0,5638.0,8397.0,100.372273,...,7844.0,NaN,NaN,NaN,NaN,NaN,1140.0,NaN,NaN,NaN
8921,ZWE,ZW,716,2021,Zimbabwe,AFR,10594.0,5716.0,8056.0,NaN,...,7647.0,NaN,NaN,NaN,NaN,NaN,1134.0,NaN,NaN,NaN

In [164]:
# Fill NaN values with the mean of each column
merged_data_cleaned_no_nan = merged_data_cleaned_no_nan.fillna(merged_data_cleaned_no_nan.mean())

C:\Users\Maheen\AppData\Local\Temp\ipykernel_15056\2039496536.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  merged_data_cleaned_no_nan = merged_data_cleaned_no_nan.fillna(merged_data_cleaned_no_nan.mean())

In [165]:
merged_data_cleaned_no_nan

,iso3,iso2,iso.numeric,year,country,g.whoregion,newrel.m,newrel.f,newrel.hivpos,newinc,...,newrel.art,hivtest.pos.f,hivtest.pos.p,new.sp,new.sn,new.su,new.ep,new.bc,sdg381,WB income group classification
0,ABW,AW,533,1980,Aruba,AMR,18602.28805,11396.872881,2406.787414,69.035087,...,2249.364557,2174.82619,2444.735223,9892.835599,8266.792416,1232.319081,3528.210565,2248.469697,39.0,Lower-middle income
35,ABW,AW,533,2015,Aruba,AMR,18602.28805,11396.872881,2406.787414,69.035087,...,2249.364557,2174.82619,2444.735223,9892.835599,8266.792416,1232.319081,3528.210565,2248.469697,39.0,NaN
36,ABW,AW,533,2016,Aruba,AMR,18602.28805,11396.872881,2406.787414,13.349353,...,2249.364557,2174.82619,2444.735223,9892.835599,8266.792416,1232.319081,0.000000,2248.469697,39.0,NaN
37,ABW,AW,533,2017,Aruba,AMR,3.00000,5.000000,0.000000,7.587325,...,0.000000,2174.82619,2444.735223,9892.835599,8266.792416,1232.319081,0.000000,2248.469697,39.0,NaN
38,ABW,AW,533,2018,Aruba,AMR,4.00000,1.000000,2406.787414,4.718673,...,2249.364557,2174.82619,2444.735223,9892.835599,8266.792416,1232.319081,0.000000,2248.469697,39.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8917,ZWE,ZW,716,2017,Zimbabwe,AFR,15684.00000,10164.000000,16602.000000,175.227598,...,14300.000000,2174.82619,2444.735223,9892.835599,8266.792416,1232.319081,2657.000000,2248.469697,39.0,NaN
8918,ZWE,ZW,716,2018,Zimbabwe,AFR,15322.00000,9882.000000,15062.000000,167.444140,...,13636.000000,2174.82619,2444.735223,9892.835599,8266.792416,1232.319081,2547.000000,2248.469697,39.0,NaN
8919,ZWE,ZW,716,2019,Zimbabwe,AFR,13330.00000,7678.000000,12280.000000,136.818862,...,11204.000000,2174.82619,2444.735223,9892.835599,8266.792416,1232.319081,1957.000000,2248.469697,39.0,NaN
8920,ZWE,ZW,716,2020,Zimbabwe,AFR,10090.00000,5638.000000,8397.000000,100.372273,...,7844.000000,2174.82619,2444.735223,9892.835599,8266.792416,1232.319081,1140.000000,2248.469697,39.0,NaN
8921,ZWE,ZW,716,2021,Zimbabwe,AFR,10594.00000,5716.000000,8056.000000,69.035087,...,7647.000000,2174.82619,2444.735223,9892.835599,8266.792416,1232.319081,1134.000000,2248.469697,39.0,NaN

In [167]:
#merged_data_cleaned_no_nan.to_csv(r'C:\Users\Maheen\Downloads\merged_data_cleaned_no_nan.csv', index=False)

In [193]:
filtered_data = merged_data_cleaned_no_nan[merged_data_cleaned_no_nan['year'].isin([2020, 2014])]

In [194]:
# Now, perform any operations you want on the filtered data (e.g., fill NaN values with mean)
filtered_data_filled = filtered_data.fillna(filtered_data.mean())

C:\Users\Maheen\AppData\Local\Temp\ipykernel_15056\1590823016.py:2: FutureWarning:

Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

In [203]:
filtered_data_filled = filtered_data_filled.rename(columns={
    'g.whoregion': 'Region',
    'newrel.m': 'New Relationships Male',
    'newrel.f': 'New Relationships Female',
    'newrel.hivpos': 'New Relationships HIV Positive',
    'newinc': 'New Incidence',
    'c.newinc': 'Cumulative Incidence',
    'newrel.art': 'New Relationships ART',
    'hivtest.pos.f': 'HIV Test Positive Female',
    'hivtest.pos.p': 'HIV Test Positive Patient',
    'new.sp': 'New Sputum Positive',
    'new.sn': 'New Sputum Negative',
    'new.su': 'New Suspected',
    'new.ep': 'New Epidemic',
    'new.bc': 'New BCG',
    'sdg381': 'SDG 3.8.1'
})

In [204]:
filtered_data_filled.to_csv(r'C:\Users\Maheen\Downloads\filtered_data_2020_2014.csv', index=False)